img {
  max-width: 100%;
}

html,
body {
  height: 100%;
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.icon {
  width: 3em;
  height: 3em;
  vertical-align: -0.15em;
  opacity: 0.4;
  overflow: hidden;
}
