.header {
	width: 100%;
	height: 110px;
	padding: 2rem 10rem;
}

.header h1 {
	float: left;
	margin: 0;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	color: #FFF;
}

.header nav {
	float: right;
	font-size: 1rem;
}

.header img {
	width: 160px;
	height: 40px;
}

.header nav a {
	padding:16px;
	display:inline-block;
	position:relative;
	text-decoration:none;
	background-image:
			linear-gradient(to top, #FFF 50%, #FFF 50%),
			linear-gradient(to top, #214FD4 50%, transparent 50%);
	-webkit-background-clip: text,padding-box;
	-webkit-text-fill-color: transparent;
	color: transparent;
	background-size: 100% 200%;
	background-position: top;
	transition: background-position 0.5s ease-in-out;
}

.header nav a:hover{
	background-position: bottom;
}
