html{
  font-size: 12px;
}

html, body {
  font-family:
    helvetica neue,
    Tahoma,
    PingFangSC-Regular,
    Microsoft Yahei,
    Myriad Pro,
    Hiragino Sans GB,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	padding: 0;
	margin: 0;
	background: linear-gradient(180deg, #011548 0%, #2A5298 90%);
	color: #FFFFFF;
}

* {
	box-sizing: border-box;
}

img{
  display: block;
  max-width: 100%;
}

ul,li{
	list-style: none;
}

.can_do{
	font-size: 6rem;
  margin-top: 4em;
	font-weight: 800;
	text-align: center;
	color: #A7DAFF;
}

.icon {
  width: 3em;
  height: 3em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}