html{
  font-size: 12px;
}

html, body {
  margin: 0;
  font-family:
    helvetica neue,
    Tahoma,
    PingFangSC-Regular,
    Microsoft Yahei,
    Myriad Pro,
    Hiragino Sans GB,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
	padding: 0;
	margin: 0;
	background: linear-gradient(180deg, #011548 0%, #2A5298 90%);
	color: #FFFFFF;
}

* {
	box-sizing: border-box;
}

#app {
  margin-inline: auto;
  height: 100%;
}

img{
  display: block;
  max-width: 100%;
}

ul,li{
	list-style: none;
}

.can_do{
	font-size: 2rem;
	font-weight: 800;
	margin-bottom: 0;
	text-align: center;
	color: #A7DAFF;
}